*.pyc
*.so
*__init__.py
Env/env
Env/env.log
Env/env_cpu.sh
Env/env_gpu.sh
Ops/CMakeCache.txt
Ops/CMakeFiles/
Ops/Makefile
Ops/cmake_install.cmake
Ops/install_manifest.txt
Ops/release/
Ops/build
Unpacker/CMakeCache.txt
Unpacker/CMakeFiles/
Unpacker/Makefile
Unpacker/cmake_install.cmake
